In [61]:
import pandas as pd
from IPython.display import display


class Stock:
    total_assets = 0  # 總資產
    stock_num = 0  # 股票總數

    def __init__(self):
        self.stock = []  # 股票名稱
        self.buyprice = []  # 股票價格

    def add_stock(self, stock_name, stock_price):  # 增加股票名稱與買入價格
        if stock_name not in self.stock:  # 檢查之前是否曾經買入相同股票，若買過相同股票則把金額加入之前的list中
            self.stock.append(stock_name)
            self.buyprice.append(stock_price)
            self.total_assets += stock_price
            self.stock_num += 1
        else:
            p = self.stock.index(stock_name)
            self.buyprice[p] += stock_price
            self.total_assets += stock_price
            self.stock_num += 1

    def del_stock(self, stock_name):  # 刪除股票
        p = self.stock.index(stock_name)
        self.total_assets -= self.buyprice[p]
        del self.stock[p]
        del self.buyprice[p]
        self.stock_num -= 1

    def show(self):  # 以DataFrame形式顯示
        stock = pd.DataFrame()
        price = pd.DataFrame()
        stock["stock"] = self.stock
        price["price"] = self.buyprice
        df = pd.concat([stock, price], axis=1)
        display(df)
        print("---------------------------")
        print(f"Your total assets is {self.total_assets}")
        print("---------------------------")

    def __add__(self, other):  # 讓兩股票倉位可以互相加總
        self.stock += other.stock
        self.buyprice += other.buyprice
        self.total_assets += other.total_assets
        self.stock_num += other.stock_num
        return self

    def __repr__(self):  # 印出結果
        output = f"you have {len(self.stock)} stocks,and total assets is {self.total_assets}"
        return output

In [62]:
st = Stock() #做出第一個倉位st 
st.add_stock("台積電", 200)
st.add_stock("長榮", 300)
st.add_stock("台泥", 500)
st.show()

  stock  price
0   台積電    200
1    長榮    300
2    台泥    500

---------------------------
Your total assets is 1000
---------------------------

In [63]:
st.add_stock("台積電", 200) #TSMC再買200
st.show()

  stock  price
0   台積電    400
1    長榮    300
2    台泥    500

---------------------------
Your total assets is 1200
---------------------------

In [64]:
st.del_stock("台積電") #清空台積電
st.show()

  stock  price
0    長榮    300
1    台泥    500

---------------------------
Your total assets is 800
---------------------------

In [65]:
st1 = Stock() #另外開戶，另外投資
st1.add_stock("台積電", 200)
st1.add_stock("AMZN", 400)
st1.show()

  stock  price
0   台積電    200
1  AMZN    400

---------------------------
Your total assets is 600
---------------------------

In [66]:
st+=st1 #將兩個戶頭加起來
st.show()

  stock  price
0    長榮    300
1    台泥    500
2   台積電    200
3  AMZN    400

---------------------------
Your total assets is 1400
---------------------------

In [67]:
print(st) #將投資股票數量與投資資產印出

you have 4 stocks,and total assets is 1400